* {
    margin: 0;
}

.white {
    color: white;
}
.margin-right {
    margin-right: 6px;
}

#nav-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-left: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.logo-div {
    margin-right: 50px;
}

.logo-img {
    height: 50px;
    border-radius: 10px;
}

#search-form input {
    padding: 15px 10px;
    width: 800px;
    font-size: 1.2rem;
    background-color: #f1f1f1;
    border: none;
    border-radius: 10px;
}

#photo-header {
    background-color: black;
    color: grey;
    display: flex;
    padding: 10px 15px;
    border-radius: 20px;
    width: 120px;
    margin-left: 50px;
}


#results {
    margin: 10px auto 0;
    padding: 0 20px;
    columns: 3;
}

.photo-div {
    margin-top: 10px;
}

img {
    width: 100%;
}